body {
  font-family: sans-serif;
}

.animate-shine {
  color: transparent;
  background-image: linear-gradient(120deg, #000 45%, #fff, #000 55%);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 250% 100%;
  webkit-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  transition: 2s;
}
